:root {
  --bs-success-rgb: 69, 180, 77;
  --footer-bg-rgb: rgb(59, 61, 86);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
a {
  text-decoration: none;
  color: black;
}
/* category section */
.category_card {
  flex-basis: 16.65%;
}
.category_image_wrapper {
  height: 7rem;
  width: 8rem;
  margin: 0rem auto;
}

/* category section */
.price_section {
  font-weight: 600;
}
.main_price {
  text-decoration: line-through;
}
.product_image_wrapper {
  width: 12rem;
  height: 12rem;
  margin: 0rem auto;
}
.product_card .card-body {
  border-top: 1px solid var(--bs-border-color-translucent);
}
.discount_tag {
  position: absolute;
  top: 7%;
  left: 7%;
  padding: 1rem 0.7rem;
  font-weight: 600;
  border-radius: 50%;
}
.support-box {
  width: 100%;
  background: #fff;
  border: 1px solid #e9e7e7;
  border-bottom: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 20px;
  text-align: center;
}
.support-box .icon-box {
  height: 80px;
  text-align: center;
  margin-bottom: 15px;
}
.support-box .title {
  font-size: 17px;
  text-transform: capitalize;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
}
.content-box p {
  font-size: 14px;
  color: #a1a1a1;
  margin-bottom: 0;
  text-transform: capitalize;
}
.banner_image_wrapper {
  height: 60vh;
}
.banner_section .d-flex {
  gap: 1rem;
}
.support_box_wrapper {
  flex-basis: 19%;
  flex-grow: 1;
}

.footer-main {
  background-color: var(--footer-bg-rgb);
}

.footer-main h3 {
  font-size: 17px;
  color: white;
  text-transform: uppercase;
  /* margin-bottom: 1rem; */
}
.footer-main a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding-left: 0;
}
#nav_accordion .nav-link {
  font-size: 0.9rem;
  color: #919191;
  text-transform: uppercase;
}
.parent-link {
  display: flex;
  gap: 0.4rem;
}
.parent-link img {
  width: 1.5rem;
}
.parent-link::after {
  position: absolute;
  right: 6px;
  top: 10px;
  content: "\f054";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
}
#product_search_bar {
  margin-left: -0.4rem;
}
#product_search_bar::placeholder {
  padding-left: 1rem;
}
.product_search_wrapper {
  position: relative;
}
.product_search_wrapper label {
  color: #919191;
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
}
#product_search_bar:focus + label {
  color:red !important;
}



/* step progress section  */

h2{ 
	color: rgba(--bs-success-rgb,1); 
} 
#form { 
	text-align: center; 
	position: relative; 
	margin-top: 20px
} 

#form fieldset { 
	background: white; 
	border: 0 none; 
	border-radius: 0.5rem; 
	box-sizing: border-box; 
	width: 100%; 
	margin: 0; 
	padding-bottom: 20px; 
	position: relative
} 

.finish { 
	text-align: center
} 

#form fieldset:not(:first-of-type) { 
	display: none
} 

#form .previous-step, .next-step { 
	width: 100px; 
	font-weight: bold; 
	color: white; 
	border: 0 none; 
	border-radius: 0px; 
	cursor: pointer; 
	padding: 10px 5px; 
	margin: 10px 5px 10px 0px; 
	float: right
} 

.form, .previous-step { 
	background: #616161; 
} 

.form, .next-step { 
	background: #2F8D46; 
} 

#form .previous-step:hover, 
#form .previous-step:focus { 
	background-color: #000000
} 

#form .next-step:hover, 
#form .next-step:focus { 
	background-color: #2F8D46
} 

.text { 
	color: #2F8D46; 
	font-weight: normal
} 

#progressbar { 
	margin-bottom: 30px; 
	overflow: hidden; 
	color: lightgrey 
} 

#progressbar .active { 
	color: #2F8D46
} 

#progressbar li { 
	list-style-type: none; 
	font-size: 15px; 
	width: 25%; 
	float: left; 
	position: relative; 
	font-weight: 400
} 

#progressbar #step1:before { 
	content: "1"
} 

#progressbar #step2:before { 
	content: "2"
} 

#progressbar #step3:before { 
	content: "3"
} 

#progressbar #step4:before { 
	content: "4"
} 

#progressbar li:before { 
	width: 50px; 
	height: 50px; 
	line-height: 45px; 
	display: block; 
	font-size: 20px; 
	color: #ffffff; 
	background: lightgray; 
	border-radius: 50%; 
	margin: 0 auto 10px auto; 
	padding: 2px
} 

#progressbar li:after { 
	content: ''; 
	width: 100%; 
	height: 2px; 
	background: lightgray; 
	position: absolute; 
	left: 0; 
	top: 25px; 
	z-index: -1
} 

#progressbar li.active:before, 
#progressbar li.active:after { 
	background: rgba(var(--bs-success-rgb),1)
} 

.progress { 
	height: 20px
} 

.progress-bar { 
	background-color: #2F8D46
}
