$white: #fff;
$primary-blue: #0077ba;
$banner-blue: #00649e;
$light-blue: #e6f3fa;
$title-blue: #00649e;
$nav-links-color: #4e585d;
$filter-sidbear-bg: #f6fbfe;
$filter-check-lebel-color: #23292d;
$footer-bg: #00446b;
$sub-title-color: #e4292a;
