$din-next-pro-700: 'din_next_lt_probold';
$din-next-pro-300: 'din_next_lt_prolight';
$din-next-pro-500: 'din_next_lt_promedium';
$din-next-400: 'din_next_lt_proregular';
$transition-4-einout: all 0.4s ease-in-out;
$transition-9-einout: all 0.9s ease-in-out;
$green: rgba(69, 180, 77);

// $roboto-font: 'Roboto', sans-serif;
$roboto-font: 'Inter', sans-serif;
